body {
    background-color: aliceblue;
    color: midnightblue;
    width: 40%;
    min-width: fit-content;
    padding: 0;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    width: 100%;
    height: 60px;
    background-color:skyblue;
    border: 3px solid blue;
}

img {
    border-radius: 10px;
}

main {
    text-align: center;
}

.logo-title {
    margin: 10px;
    display: block;
    border: 3px solid red;
    width:  205px;
}

nav {
    margin: 10px 0;
    width: fit-content;
    border: 2px solid white;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    border: 3px solid black;
}

nav > ul > li {
    padding: 10px;
    width: 100px;
    display: block;
    border: 2px solid green;
    text-align: center;
}

a {
    text-decoration: none;
    color:inherit;
}

img {
    width: 400px;
}

footer {
    text-align: center;
    width: 100%;
    background-color:skyblue;
}